.mutant {
	input[type="number"] {
		width: 5em;
		color: $text-color;
		background-color: $input-bg;
	}
	.glyphicon,
	.fa,
	.fi-die-one,
	.fi-die-two,
	.fi-die-three,
	.fi-die-four,
	.fi-die-five,
	.fi-die-six {
		font-size: 1.3em;
	}
	.anim-fade {
		-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
		position: relative;
		display: block;
	}
	.anim-fade.ng-enter,
	.anim-fade.ng-leave.ng-leave-active,
	.anim-fade.ng-hide {
		opacity: 0;
	}
	.anim-fade.ng-leave,
	.anim-fade.ng-enter.ng-enter-active {
		opacity: 1;
	}
	.scrollable-menu {
		height: auto;
		max-height: 200px;
		overflow-x: hidden;
	}
	.list-group-item-highlight:hover {
		background-color: $brand-danger;
		//color: aliceblue;
	}
	dice-roller,
	.fa-calculator,
	.glyphicon-info-sign,
	.fa-compress,
	.fa-expand,
	.fa-gog,
	.fa-cogs {
		-webkit-transition: text-shadow 0.2s linear;
		-moz-transition: text-shadow 0.2s linear;
		-ms-transition: text-shadow 0.2s linear;
		-o-transition: text-shadow 0.2s linear;
		transition: text-shadow 0.2s linear;
	}
	dice-roller:hover,
	.fa-calculator:hover,
	.glyphicon-info-sign:hover,
	.fa-compress:hover,
	.fa-expand:hover,
	.fa-cog:hover,
	.fa-cogs:hover {
		//text-shadow: 3px 3px 10px black;
		color: #000;
		text-shadow: 0 0 5px $text-color;
	}
}
