$fa-font-path: '/bower_components/font-awesome/fonts';
@import '../assets/bootstrap-var-override/bootstrap-var-override';
@import 'font-awesome/scss/font-awesome';
@import 'foundation-icon-fonts/_foundation-icons';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

/**
 * App-wide Styles
 */

select {
	border-radius: 0;
	-webkit-appearance: none;
}
.navbar-inverse {
	border-bottom-width: 1px;
	border-bottom-color: #999;
	border-bottom-style: solid;
}
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'dice-roller/dice-roller.scss';
@import 'main/main.scss';
@import 'mutant/mutant.scss';
@import 'modal/modal.scss';
// endinjector
