div(style="display: inline-block;" data-ng-click="theClick()" data-ng-mouseleave="theLeave()" data-ng-mouseenter="theEnter()")
  i(data-ng-class="diceClass" data-ng-show="result === ''")
  div(data-ng-show="result !== ''") {{result}}
  